name: Build and Push Piston docker image to GHCR
on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
      contents: read
      packages: write

env:
  REGISTRY: ghcr.io
 # PROJECT_ID: sc-tnt-tools-telemetry-prod
 # REPOSITORY: docker
 # IMAGE_NAME: tnt-blog

jobs:
  build-and-push-piston:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup docker buildx 
        uses: docker/setup-buildx-action@v3

      - name: Log in to the ghcr.io container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Test
        run: |
          docker build -t piston-app:test .
          docker run --rm piston-app:test python manage.py test

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # The tag format for GHCR is ghcr.io/owner/image-name:version
          tags: |
            ghcr.io/${{ github.repository_owner }}/piston-app:latest
          # Enable caching for faster builds
          cache-from: type=gha
          cache-to: type=gha,mode=max